{%extends "base.html.twig"%}
{% block title %}
    {{parent()}}
    - productos
{%endblock%}
{% block section_title %}
        <h1>Tienda de productos</h1>
{%endblock%}
{% block body %}
    <table class="table">
    <tbody>
        {{dump(products)}}
        {%for product in products%}
            <tr>
                <td>{{product.title | upper}}</td>
                <td>{{product.description}}</td>
                <td>{{product.production_year}}</td>
                <td>{{product.image}}</td>
                <td>
                    <a href="#">Editar</a>
                    <a href="#">Eliminar</a>
                </td>
            </tr>
        {%else%}
            <tr>
                <td>
                    No hay    
                </td>
            </tr>
        {%endfor%}
    </tbody>
    {%endblock%}

